<%= link_to island_path(island), :class => "link" do %>
  <div class="infowindow">
    <h5><%= island.location %> - <%= island.name.capitalize %>  </h5>
      <div class="info-window-photo" style="background-image: url('<%= cl_image_path island.photo %>');">
      </div>
  </div>
<% end %>
