<h1> All Islands</h1>
<!--
<div class="container">
  <div class="row">
    <div class="col-xs-6">

    </div>
  </div>
</div> -->

<% @islands.each do |island| %>
  <p> <%= island.name %> </p>
<% end %>

<% if policy(Island).create? %>
  <%= link_to "Add New island", new_island_path %>
<% end %>
