.container-show {
  display: flex;
  flex-direction: column;
}

.island-image {
  justify: center;
}

.container-book {
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  background-color: #FBFAF8;
  border-radius: 5%;
  padding: 10px;
}

.container-descritpion p {
  font-family: 'Montaga', serif;
}

.container-show {
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px;
  background-color: #F2D0A4;
}
.description-island {
  padding: 30px;
}

h3{
  font-family: 'Montserrat', sans-serif;
}
.island-image {
  border-radius: 30%;
}

.pic.crop {
  border-radius: 5px;
  border: white;
}

.buttin {
  justify: center;
  background-color: #F2EEEB;
}

.container-show h1 {
  color: #5F2A01;
  padding: 30px;
}

.container-show p {
  color: black;
}

.fas {
  color: #0A0908;
  padding: 20px;
}


