<div id="banner">
<!--   <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
   <source src="https://www.youtube.com/watch?v=MmhI3HWYitA" type="video/mp4">
 </video> -->
<!--     <iframe src="https://player.vimeo.com/video/269226655?title=0&autoplay=1&muted=1&byline=0&portrait=0&sidedock=1&loop=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen   mozallowfullscreen allowfullscreen></iframe> -->
    <video autoplay muted loop id="myVideo">
        <source src="https://res.cloudinary.com/romscloud/video/upload/v1550660506/small-banner-film.mp4" type="video/mp4">
    </video>
   <div class="description">
      <h2 class="title-h2">Coconut</h2>
      <p class="p-textshadow">YOLO, rent an island</p>
      <!--   Use a button to pause/play the video with JavaScript
        <button id="myBtn" onclick="myFunction()">Pause</button> -->
    </div>
  </div>
<!-- Optional: some overlay text to describe the video -->

<!-- Adding comments -->
