<div id="banner">
<!--   <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
   <source src="https://www.youtube.com/watch?v=MmhI3HWYitA" type="video/mp4">
 </video> -->
<!--     <iframe src="https://player.vimeo.com/video/269226655?title=0&autoplay=1&muted=1&byline=0&portrait=0&sidedock=1&loop=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen   mozallowfullscreen allowfullscreen></iframe> -->
    <video autoplay muted loop id="myVideo">
        <source src="https://res.cloudinary.com/romscloud/video/upload/v1550660506/small-banner-film.mp4" type="video/mp4">
    </video>
   <div class="description" style="display: flex;">
      <div>
        <h2 class="title-h2" style="margin-top: -11px;">Coconut</h2>
        <p>YOLO, rent an island</p>
      </div>
      <!--   Use a button to pause/play the video with JavaScript
        <button id="myBtn" onclick="myFunction()">Pause</button> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
      <div class="container">
        <br/>
        <div class="row justify-content-center">
<!--           <div class="col-12 col-md-10 col-lg-8"> -->
              <div class="card card-sm myformulaire">
                  <div class="card-body row no-gutters align-items-center" style="margin: -19px 37px !important;">
                      <div class="col-auto">
                          <i class="fas fa-search h4 text-body" style="font-size:23px;"></i>
                      </div>
                      <!--end of col-->
                      <div class="col" style="display: flex;">
                        <div id="mypadding">
                          <%= form_tag islands_path, method: :get do %>
                            <%= text_field_tag :query,
                              params[:query],
                              class: "form-control form-control-lg form-control-borderless",
                              style: "height: 27px; margin-top: 5px;",
                              placeholder: "'Gili island'"
                            %>
                        </div>
                        <div id="myform">
                        <%= submit_tag('Search', class: "btn btn-lg btn-success mybtn") %>
                        </div>
                        <% end %>
                      </div>
                      </div>
                      <!--end of col-->
                      <!--end of col-->
                  </div>
              </div>
<!--           </div> -->
                            <!--end of col-->
        </div>
    </div>
  </div>
  <script type="text/javascript">
    const search = document.querySelector(".search");
    search.innerHTML = "";

  </script>
<!-- Optional: some overlay text to describe the video -->

<!-- Adding comments -->
