<div class="container">
  <h1>Looking for dinosaurs or nature ?</h1>
    <div class="cards">
      <div class="card">
        <div class="card-content"style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('Users/philippelarroque/code/gwadinho/coconut/app/assets/images/shutterisland.jpg');">
          <div class="card-category">Shutter Island</div>
          <div class="card-description">
            <p>Are you a little crazy ? Best place for you to visit...</p>
          </div>
          <img class="card-logo" src="Users/philippelarroque/code/gwadinho/coconut/app/assets/images/logo.jpg">
        <div class="card-footer">
          <p>Available</p>
            <div class="card-controls">
              <a href="#"><i class="fa fa-star" id="star"></i></a></li>
              <a href="#"><i class="fa fa-heart"></i></a></li>
               <a href="#"><i class="fa fa-share"></i></a></li>
            </div>
        </div>
      </div>
    </div>
</div>
