#myVideo {
  // right: 0;
  // bottom: 0;
  // min-width: 100vh;
  // min-height: 100vh;
  // height: 100vh;
  width: 100%;
  // background-image: url("/Users/romainbertrand/code/romsleromain/coconut/app/assets/banner.mp4");
  // background-image: url("banner1.gif");
  // background-repeat: no-repeat;
  // background-size: cover !important;
  // position: relative;
  // z-index:0;
  position: absolute;
  bottom: 0;
  right: 0;
}

#banner {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter {
  position: relative;
  background-color: black;
  opacity: 0.6;
}

.description {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  padding-top: 25%;
  padding-left: 15%;
  font-family: 'Raleway', Georgia;
}

.title-h2 {
  font-size: 62px;
  color: white;
  font-family: 'Raleway', 700, Georgia;
  text-align: left;
  text-shadow: 4px 4px #5F2A01;
}

p {
  font-size: 20px;
  color: white;
  font-family: 'Raleway', Georgia;
  text-align: left;
  margin-left: 15px;
  text-shadow: 1px 1px #5F2A01;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
