.cards {
    display: flex;
    padding: 10px;
}

.cardz {
  flex: 1 1 auto;
  padding: 7px;
  margin: 6px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  background-color: #FBFAF8;
}

.cardz:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(#85B60F,0.57);
  transition: all 0.4s ease 0s;
}

.card-content {
  height: 180px;
  background-size: cover;
  color: white;
  position: relative;
}

.card-category {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.8;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-description > h2 {
  font-size: 25px;
  margin-bottom: 0px;
  font-weight: bold;
  text-decoration: none;
}

.card-description > p {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: bold;
  opacity: 1;
}
.card-user {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  border-radius: 60%;
  border: 1px solid #5F2A01;
  box-shadow: 2px 2px 2px 1px white;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: black;
  background-color: #FBFAF8 !important;
}

.card-controls {
  display: flex;
  align-items: center;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.card-footer p {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 13px;
}

.card-footer .card-controls {
    display: flex;
    align-items: center;
}

.card-footer .card-controls i {
    padding: 0 1px;
    color: black;
}

#star {
  color: #FFD800;
  border-color: #85B60F;
}

#stardown {
  color: black;
  border-color: #85B60F;
}
