.footer {
  background: #F2EEEB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  border-top: 2px solid #5F2A01;
  box-shadow: 0 2px 2px -2px #5F2A01;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #5F2A01;
  font-family: 'Raleway', Georgia;
  font-size: 24px;
  color: #5F2A01;
}

.footer-copyright {
  padding-top: 8px;
  margin-right: 220px
}

#nut {
  font-size: 16px;
  color: #5F2A01;
  font-family: 'Raleway', Georgia;
  text-decoration: none;
}

#coco {
  font-size: 22px;
  color: white;
  font-family: 'Raleway', Georgia;
  text-shadow: 2px 2px #5F2A01;
}
